@using Core.Application.ViewModels.Transation;
@model TransationsSaveViewModel;
@{
    ViewData["Title"] = "Avance_de_Efectivo";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Creando una nueva categoria</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Client" asp-action="Avance_de_Efectivo" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="AccountNumber" class="form-label">Numero de cuenta de ahorro: </label>
                            <select asp-items="@(new SelectList(Model.savingsAccounts,"AccountNumber","AccountNumber"))" asp-for="AccountNumber" class="form-select">
                                <option value="0">Seleccione una opcion</option>

                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Monto: </label>
                            <input type="number" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Selecione su tarjecta de credito: </label>
                            <select asp-items="@(new SelectList(Model.CreditCards,"CreditCard","CreditCard"))" asp-for="CreditCard" class="form-select">
                                <option value="0">Seleccione una opcion</option>

                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Volver atras</a>

                    </form>
                    </div>
                </div>
            </div>
    </div>

</div>