
@{
    ViewData["Title"] = "Expreso";
}

<div class="container-fluid">
     <br />
    <br />
    <br />
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                 <div class="card-header bg-dark text-light">
                    <h4>Pago de tipo expreso </h4>
                </div>
                <div class="card-body">
                <form method="post" asp-controller="Client" asp-action="Pagos" enctype = "multipart/form-data"> 
                    
                     <div class="mb-3">
                        <label  class="form-label">Numero de cuenta: </label>
                        <input type="number"  class="form-control" />
                        <span  class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label  class="form-label">Monto: </label>
                        <input type="number"  class="form-control">
                    </div>                

                      <div class="mb-3">
                        <label  class="form-label">Numero de cuenta destino </label>
                        <input type="number"  class="form-control" />
                        <span  class="text-danger"></span>
                    </div>

                     <button type="submit" class="btn btn-primary">Guardar</button>
                    <a asp-controller="Client" asp-action="Pagos" class="btn btn-warning">Volver atras</a>
                
                 </form>

                    </div>
                  </div>
                
     </div>
        </div>
    </div>

