@using Core.Application.ViewModels.Transation;
@model TransationsSaveViewModel;
@{
    ViewData["Title"] = "Pagos";
}




<div class="container-fluid">

    <br />
    <br />
    <br />
    <br />
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
       <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal"> Pago de tarjeta de crédito</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Realice su pago ahora</li>
            </ul>
            <a type="button" asp-area="" asp-controller="Client" asp-action="Tarjeta_de_credito" class="w-100 btn btn-lg btn-outline-primary">Pagar</a>
          </div>
        </div>
      </div>
           <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Pago de préstamo</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Realice su pago ahora</li>
            </ul>
            <a type="button" asp-area="" asp-controller="Client" asp-action="Prestamos" class="w-100 btn btn-lg btn-outline-primary">Pagar</a>
          </div>
        </div>
      </div>
       <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Pago para beneficiarios</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Realice su pago ahora</li>
            </ul>
            <a type="button" asp-area="" asp-controller="Client" asp-action="Beneficiario" class="w-100 btn btn-lg btn-outline-primary">Pagar</a>
          </div>
        </div>
      </div>
 
  
       <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal"> Pago de dinero expresos</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Realice su pago ahora</li>
            </ul>
            <a type="button" asp-area="" asp-controller="Client" asp-action="Expreso" class="w-100 btn btn-lg btn-outline-primary">Pagar</a>
          </div>
        </div>
      </div>
    </div>
                
    
    </div>

@*
<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Pago de P</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="Client" asp-action="Pagos" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="AccountNumber" class="form-label">Numero de cuenta: </label>
                            <input type="text" asp-for="AccountNumber" class="form-control" />
                            <span class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Monto: </label>
                            <input type="number" asp-for="Amount" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Numero de cuenta destino </label>
                            <input type="text" asp-for="Amount" class="form-control" />
                            <span class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Volver atras</a>

                    </form>

                </div>


            </div>
        </div>
    </div>
    </div>*@