@using Core.Application.ViewModels.Transation
@model TransationsSaveViewModel
@{
    ViewData["Title"] = "Prestamos";
}

<div class="container-fluid">
    <div class="transationCard">

                    <h4 class="cardTitle">Pago de Prestamo </h4>
                <form method="post" asp-controller="Client" asp-action="Prestamos" enctype = "multipart/form-data">

                    <div class="mb-3">
                        <label asp-for="AccountNumber" class="form-label">Numero de cuenta de ahorro: </label>
                            <select asp-items="@(new SelectList(Model.savingsAccounts,"AccountNumber","AccountNumber"))" asp-for="AccountNumber" class="formSelect">
                            <option value="0">Seleccione una opcion</option>

                        </select>
                        <span class="text-danger" asp-validation-for="AccountNumber"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Amount" class="form-label">Monto: </label>
                        <input asp-for="Amount" type="number" step=".01" class="formSelect">
                        <span class="text-danger" asp-validation-for="Amount"></span>
                    </div>                

                    <div class="mb-3">
                        <label asp-for="Loan" class="form-label">Selecione a que prestamo hacer el pagp: </label>
                            <select asp-items="@(new SelectList(Model.Loans,"Loan","Loan"))" asp-for="Loan" class="formSelect">
                            <option value="0">Seleccione una opcion</option>

                        </select>
                        <span class="text-danger" asp-validation-for="Loan"></span>
                    </div>
                    <div class="buttons">
                <a asp-controller="Client" asp-action="Pagos" class="btn btn-warning">Volver al menu</a>
                        <button type="submit" class="btn btn-primary" >Guardar</button>
                    </div>
                </form>
     </div>
</div>

