@using Core.Application.ViewModels.Transation;
@model TransationsSaveViewModel;
@{
    ViewData["Title"] = "Tarjeta_de_credito";
}


<div class="container-fluid">

    <div class="transationCard">
        <h4 class="cardTitle">Pago de Tarjeta de credito </h4>
                    <form method="post" asp-controller="Client" asp-action="Tarjeta_de_credito" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="AccountNumber" class="form-label">Numero de cuenta de ahorro: </label>
                <select asp-items="@(new SelectList(Model.savingsAccounts,"AccountNumber","AccountNumber"))" asp-for="AccountNumber" class="formSelect">
                                <option value="0">Seleccione una opcion</option>

                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Monto: </label>
                <input asp-for="Amount" type="number" step=".01" class="formSelect">
                        </div>
                        <div class="mb-3">
                            <label asp-for="CardNumber" class="form-label">Selecione su tarjecta de credito: </label>
                <select asp-items="@(new SelectList(Model.CreditCards,"CardNumber","CardNumber"))" asp-for="CardNumber" class="formSelect">
                                <option value="0">Seleccione una opcion</option>

                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="buttons">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Volver atras</a>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
            </div>
</div>