@using Microsoft.AspNetCore.Http
@using Core.Application.Helpers
@using Core.Application.DTOs.Account
@inject IHttpContextAccessor httpContextAccesor
@{
    var user = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAdmin = user != null ? user.Roles.Any(rol => rol == "Admin") : false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Netbanking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm  w-100 navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand text-white" asp-controller="@(user != null ? "Admin" : "Client")" asp-action="Index"> NetBanking</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (user == null)
                {

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="User" asp-action="Register">Registrarme</a>
                            </li>
                        </ul>
                    </div>

                }
                else
                {
                    if (isAdmin)
                    {

                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Admin" asp-action="Users">Administracion de usuario</a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Admin" asp-action="Users">Beneficiario</a>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Admin" asp-action="Users">Avance de efectivo</a>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Admin" asp-action="Users">Transferencia</a>
                                </li>
                            </ul>
                        </div>
                    }
                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-danger" style="font-size:1.1rem;" asp-controller="User" asp-action="LogOut">Cerrar Session</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Netbanking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
