@using Microsoft.AspNetCore.Http
@using Core.Application.Helpers
@using Core.Application.DTOs.Account
@inject IHttpContextAccessor httpContextAccesor
@{
    var user = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAdmin = user != null ? user.Roles.Any(rol => rol == "Admin") : false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Netbanking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/sidebars.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="~/css/toastr.css" rel="stylesheet" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="~/lib/sidervar/style.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; min-height:100vh; height:auto;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">ARM Banking</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                @if (user != null)
                {
                    if (isAdmin)
                    {
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Index" class="nav-link active" aria-current="page">
                                Home
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="Manage_User" class="nav-link link-dark">
                                Manage users
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Client" asp-action="Index" class="nav-link active">
                                Home
                            </a>
                        </li>
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                                Pagos
                            </button>
                            <div class="collapse" id="dashboard-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled ps-4 pb-1 small">
                                    <li><a asp-controller="Client" asp-action="Expreso" class="text-primary d-inline-flex text-decoration-none rounded">Expreso</a></li>
                                    <li><a asp-controller="Client" asp-action="Tarjeta_de_credito" class="text-primary  d-inline-flex text-decoration-none rounded">Tarjeta de crédito</a></li>
                                    <li><a asp-controller="Client" asp-action="Prestamos" class="text-primary  d-inline-flex text-decoration-none rounded">Préstamo</a></li>
                                    <li><a asp-controller="Client" asp-action="Beneficiario" class="text-primary  d-inline-flex text-decoration-none rounded">Beneficiarios</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a asp-controller="Client" asp-action="beneficiariosAdd" class="nav-link link-dark">
                                Beneficiarios
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Client" asp-action="Avance_de_efectivo" class="nav-link link-dark">
                                Avance de efectivo
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Client" asp-action="Tranferencia" class="nav-link link-dark">
                                Tranferencia entre cuentas
                            </a>
                        </li>
                    }
                }
            </ul>
            <hr>
            <div class="dropdown">
                <a asp-controller="User" asp-action="LogOut" class="d-flex justify-content-center align-items-center text-decoration-none link-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:1.2rem;">
                    <span class="text nav-text">@user.UserName</span>
                </a>
                <ul class="dropdown-menu text-small ms-5 shadow">
                    @if (isAdmin)
                    {
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                    }
                    <li>
                        <a asp-controller="User" asp-action="LogOut" class="d-flex justify-content-center align-items-center text-decoration-none link-dark">
                            <span class="text nav-text">Logout</span>
                            <i class='bx bx-log-out icon' style="font-size:1.3rem;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/sidervar/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/sidebars.js"></script>
    <script src="~/js/toastr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
